<h1 class="menu-top">Add a creation to the menu</h1>

<div class="container">
    <%= simple_form_for(@cocktail)  do |f| %>
    <div class="form">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div class="width">
    <%= f.input :photo, as: :file %>
    <%= f.submit"Submit Cocktail", class: "btn-flat"%>
    </div>
  <% end %>
</div>
